-r requirements.txt
jupyter-book ~= 0.13.1
jupyter-cache ~= 0.4.3
# the older version of nbmake goes with the older
# version of nbclient, which is required by jupyter-cache
nbclient ~= 0.5.13
nbmake ~= 1.3.0
-e .